.top-buffer { margin-top:20px; }
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th
{
    padding: 1px;
    text-align:right;
    padding-left:8px;
    padding-right:8px;
}

.tdSpace
{
    padding: 1px !important;
    text-align:right;
    padding-left:1px !important;
    padding-right:1px !important;
    max-width: 150px !important;
}

.tdSpace div{
    padding-left:1px !important;
    padding-right:1px !important;
}

.tdSpace button{
    padding:0px !important;
}

#faq-table>tbody>tr>td,#faq-table th{
    text-align:left;
}
body {
    font-size: 14px;
}
.bootstrap-select > .btn {
    font-size: 14px;
    padding: 2px 14px;
}
/*
        * LOADING CSS
*/

.loader {
    margin-left:auto;
    margin-right:auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index:2;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.TextoLoading
{
    text-align:center;
    color:#FFF;
    font-weight:bold;
}
.clienttd
{
    width:150px !important;	
}
.statusCode
{
    width:150px;	
}
.depositeDatetd
{
    width:120px;	
}ContractSign
.amounttd
{
    width:120px;	padding: 0px;
}
.commenttd
{
    text-align:center !important;			
}
.successTd
{
    background-color:#D0E9C6;
}
.warningTd
{
    background-color:#F2DEDE;
}
.activeTd
{
    background-color:#F4F4F4;
}
.orange{
    background-color:#F5B041;
}      
.gold{
    background-color:#F7DC6F;
}
.oddRow{
    background-color: lightgray; 
}

.cursor-pointer{
    cursor: pointer;
}

.divEditDate{
    max-height: 22px;     
    margin: 0px;
}

.divEditDate input{
    height: 22px; 
 
}
.divEditDate button{
    height: 22px;
}